


<h2>Visits for this customer</h2>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Customer</th> 
      <th>Email</th>
      <th>Time & Date</th>
      <th>Options</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <% for visit in Visit.where(:business_id => current_business.id,:customer_id => @customer.id)  %>
              
                <tr>
                  <td><%= @customer.id %></td>
                  <td><%= @customer.email %></td>
                  <td><%= visit.created_at %></td>
                  <td>
                  <%= link_to 'Delete visit record', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
    <% end %>
  </tbody>
</table>


<br>


