* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	margin-bottom: 70px;
}
#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px; /* the bottom margin is the negative value of the footer's height */
}
.site-footer, .push {
	height: 70px; /* .push must be the same height as .footer */
}

body {
	background-color: #ECF5DD;
/*	background: url('bgtile.png') repeat;
*/}
.m15 {
	margin:15px;
}
.launchapp {
	margin-top:15px; !important
}
.largepanel {
	font-size: 3em;
}
.darkblue-panel h5 {
	color:#555;
	font-size: 1.5em;
	}
.darkbase {
	background-color:#8EBD4A;
	color:#fff;
}
.lightbase {
	background-color:#A4D15B;
}
.lightsecondary {
	background-color:#ECF5DD;
}
.darkerbase {
	background-color:#8EBD4A;
}
.darkersecondary {
	background-color:#50504F;
}
.highlight {
	background-color:#ed6639;
}
.custom-bar-chart .bar .value {
	background-color: #ed6639;
}
ul.top-menu > li > .logout {
	border-color:#50504F;
	background-color:#50504F;
	color: #fff;
}
ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
	background-color:#ECF5DD;
	color: #333;

	}
#sidebar {
	background-color:#50504F;
}
.site-footer {
	background-color:#8EBD4A;
}
.site-footer li a {
	background-color:#8EBD4A;
	color:#fff;
}
.site-footer li a:hover {
	background-color:#8EBD4A;
	color:#666;
}
.btn-warning {
	background-color:#ed6639;
	border-color: #ed6639;
}
.f900 {
	font-weight:900;
	color:#555;
}
.wrapper {
	padding-left:0;
	padding-right:0;
}
.fullheight {
	min-height:100%;
}
a.logo span{
	color:#fff;
}


.scaleimage {
	max-height: 100%;
	max-width:100%;
}
ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
		background-color:#E56717;
			font-size: 1.1em;
			color:#999;
	}
ul.sidebar-menu li a i {
	font-size: 1.1em;
				color:#999;
}
ul.sidebar-menu li a {	
	font-size: 1.1em;
				color:#999;
}
.img-circle.fit {
	height: 140px;
	width: 140px;
}
.nav.frontpage {
	margin-top: 8px;
margin-right: 5px;
}
.navbar-inverse.frontpage {
	background-color:#8EBD4A;
	color: #111;
	border:none!important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
		background-color:#A4D15B!important; 
			color: #333 !important;

}
.navbar-inverse .navbar-nav>li>a {
				color: #fff!important;
			}
.navbar-inverse .navbar-nav>li>a:hover {
				color: #333!important;
			}
.dataTables_length {
width: 40%;
float: left;
margin-left:8px;
}
.dataTables_filter {
width: 50%;
float: right;
text-align: right;
margin-right:8px;
}
.dataTables_info {
width: 60%;
float: left;
margin-left:8px;
}
div.dataTables_paginate {
float: right;
margin: 0;
}
.dataTables_paginate {
padding: 0px 0;
text-align: right;
}
.paginate_disabled_next, .paginate_enabled_next {
padding-right: 23px;
margin-left:10px;

}
.paginate_disabled_previous, .paginate_enabled_previous {
padding-left: 23px;
}
.paginate_disabled_next, .paginate_disabled_previous {
color: #999;
}
.dataTables_wrapper {
	clear:both;
	padding-bottom:30px;
	margin-top:5px;
	background-color: none;
}
.table {
		margin-bottom: 5px;
}
.message-p {
	background-color: none;
}
.main-chart {
	padding-top:0;
	width:100%;

}
.signinpage {
	margin-left: auto;
	margin-right: auto;
	width:30%;
	margin-top:15%;
}
div.carousel-caption{
	width:500px;
	color:#8EBD4A;
	text-shadow:none; important!
}
.carousel-caption p{
	color:#666;
}
.carousel-caption h1{
	color:#333;
}
.generalalert {
         font-size: 2em;
        line-height: 1.4em;
        background-color: #2B65EC;
        color: #fff;
        text-decoration: none;
        display: hidden;

}
.alert-notice {
font-size: 1em;
font-weight: 100;
background-color: #FAFDAD;
line-height: 1.4em;
text-decoration: none;
text-align: center;
border: none;
font-family: 'Lato', Helvetica, Arial, sans-serif;
position: absolute;
right: 40%;
top: 220px;
height: auto;
width: 500px;
margin-top: -150px;
margin-left: -500px;
border: 1px solid #EED93F;
/* -webkit-box-shadow: 3px 3px 7px #777; */
-moz-border-radius: 22px;
-webkit-border-radius: 10px;
padding: 20px;
z-index: 2;
color: #8D8337;
}