      <!--footer start-->
      <footer class="site-footer">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'About', about_path, :class => 'navbar-link' %></li>
              <li><%= link_to 'Help', help_path, :class => 'navbar-link' %></li>
              <li><%= link_to 'Admin portal', new_admin_session_path, :class => 'navbar-link' %></li>
              <li></li>
              <li style="padding: 15px 25px 0 15px">&copy Tally 2014</li>
            </ul>
          </div>
      </footer>
      <!--footer end-->
      

